In [307]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [308]:
data = pd.read_csv("housing_price_dataset.csv")

In [309]:
df = data.copy()

In [310]:
df

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[50000 rows x 6 columns]

In [311]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0        2126         4          1        Rural       1969  215355.283618
1        2459         3          2        Rural       1980  195014.221626
2        1860         2          1       Suburb       1970  306891.012076
3        2294         2          1        Urban       1996  206786.787153
4        2130         5          2       Suburb       2001  272436.239065

In [312]:
df.describe()

         SquareFeet      Bedrooms     Bathrooms     YearBuilt          Price
count  50000.000000  50000.000000  50000.000000  50000.000000   50000.000000
mean    2006.374680      3.498700      1.995420   1985.404420  224827.325151
std      575.513241      1.116326      0.815851     20.719377   76141.842966
min     1000.000000      2.000000      1.000000   1950.000000  -36588.165397
25%     1513.000000      3.000000      1.000000   1967.000000  169955.860225
50%     2007.000000      3.000000      2.000000   1985.000000  225052.141166
75%     2506.000000      4.000000      3.000000   2003.000000  279373.630052
max     2999.000000      5.000000      3.000000   2021.000000  492195.259972

In [313]:
df.isnull().sum()

SquareFeet      0
Bedrooms        0
Bathrooms       0
Neighborhood    0
YearBuilt       0
Price           0
dtype: int64

In [314]:
df["Age_of_house"] = 2023 - df.YearBuilt

In [315]:
df.head()

,SquareFeet,Bedrooms,Bathrooms,Neighborhood,YearBuilt,Price,Age_of_house
0,2126,4,1,Rural,1969,215355.283618,54
1,2459,3,2,Rural,1980,195014.221626,43
2,1860,2,1,Suburb,1970,306891.012076,53
3,2294,2,1,Urban,1996,206786.787153,27
4,2130,5,2,Suburb,2001,272436.239065,22

In [316]:
df.drop("YearBuilt",axis = 1,inplace=True)

In [317]:
df.head()

   SquareFeet  Bedrooms  Bathrooms Neighborhood          Price  Age_of_house
0        2126         4          1        Rural  215355.283618            54
1        2459         3          2        Rural  195014.221626            43
2        1860         2          1       Suburb  306891.012076            53
3        2294         2          1        Urban  206786.787153            27
4        2130         5          2       Suburb  272436.239065            22

In [318]:
#################################### DATA Visusalization################################################

In [319]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [320]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.Neighborhood = le.fit_transform(df.Neighborhood)
X = df.drop("Price",axis = 1)
Y = df["Price"]

In [321]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
# Y_scaled = scaler.fit_transform([Y])
# Y_scaled = np.array(Y_scaled).reshape(-1, 1)

In [322]:
# le = LabelEncoder()
# df.Neighborhood = le.fit_transform(df.Neighborhood)
# X = df.drop("Price",axis = 1)
# Y = df["Price"]

In [323]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X_scaled,Y,test_size= 1,random_state=0)

In [324]:
model.fit(X_train,Y_train)

LinearRegression()

In [325]:
model.coef_

array([57176.15454904,  5666.78951353,  2308.86091941,   631.41753179,
         228.12348848])

In [326]:
model.intercept_

224827.30325901648

In [327]:
model.score(X_train,Y_train)

0.570139958385717

In [328]:
from sklearn.decomposition import PCA
pca = PCA(0.95)

In [329]:
x_pca = pca.fit_transform(X_scaled)
x_pca.shape

(50000, 5)

In [330]:
pca.explained_variance_ratio_

array([0.20292442, 0.20144256, 0.19949194, 0.19879042, 0.19735066])

In [331]:
pca.n_components_

5

In [332]:
X_train_pca,X_test_pca,Y_train_pca,Y_test_pca = train_test_split(x_pca,Y,test_size=0.2,random_state=1)

In [333]:
X_train_pca.shape

(40000, 5)

In [334]:
model1 = LinearRegression()
model.fit(X_train_pca,Y_train_pca)

LinearRegression()

In [335]:
model.score(X_train_pca,Y_train_pca)

0.5708775305793223

In [336]:
model.score(X_test_pca,Y_test_pca)

0.5670861977455195

In [337]:
df

,SquareFeet,Bedrooms,Bathrooms,Neighborhood,Price,Age_of_house
0,2126,4,1,0,215355.283618,54
1,2459,3,2,0,195014.221626,43
2,1860,2,1,1,306891.012076,53
3,2294,2,1,2,206786.787153,27
4,2130,5,2,1,272436.239065,22
...,...,...,...,...,...,...
49995,1282,5,3,0,100080.865895,48
49996,2854,2,2,1,374507.656727,35
49997,2979,5,3,1,384110.555590,61
49998,2596,5,2,0,380512.685957,39
49999,1572,5,3,0,221618.583218,12

In [338]:
data

       SquareFeet  Bedrooms  Bathrooms Neighborhood  YearBuilt          Price
0            2126         4          1        Rural       1969  215355.283618
1            2459         3          2        Rural       1980  195014.221626
2            1860         2          1       Suburb       1970  306891.012076
3            2294         2          1        Urban       1996  206786.787153
4            2130         5          2       Suburb       2001  272436.239065
...           ...       ...        ...          ...        ...            ...
49995        1282         5          3        Rural       1975  100080.865895
49996        2854         2          2       Suburb       1988  374507.656727
49997        2979         5          3       Suburb       1962  384110.555590
49998        2596         5          2        Rural       1984  380512.685957
49999        1572         5          3        Rural       2011  221618.583218

[50000 rows x 6 columns]